
<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p><%= @task.completed %>/5</p>

<div>
  <%= link_to 'tasks', tasks_path %>
</div>

<div>
  <%= link_to 'edit', edit_task_path(@task) %>
</div>

<div>
  <%= link_to 'delete',
              task_path(@task),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</div>
